.myOrderCart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  height: 90%;
  padding: 15px;
  box-sizing: border-box;
  position: fixed;
  top: 60px;
  bottom: 0px;
  right: 0;
  background-color: var(--white);
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  z-index: 1;
  animation: goinOut;
  animation-duration: 500ms;
}

.myOrderCart__title-container {
  display: flex;
  align-content: center;
  .title {
    font-size: var(--lg);
    font-weight: bold;
    margin: 0;
  }
  img {
    transform: rotate(180deg);
    margin-right: 14px;
  }
  img:hover{
    cursor: pointer;
  }
}
.myOrderCart-content{
  width: 100%;
  height: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding-right: 15px;
}
.myOrderCart-content::-webkit-scrollbar {
  -webkit-appearance: none;
}
.myOrderCart-content::-webkit-scrollbar:vertical {
  width:10px;
}
.myOrderCart-content::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 
.myOrderCart-content::-webkit-scrollbar-thumb {
  background-color: var(--very-light-pink);
  border-radius: 20px;
  border: 2px solid var(--text-input-field);
}

.myOrderCart-order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  border-radius: 8px;
  padding: 15px 24px;
  
}

.myOrderCart-order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.myOrderCart-order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}
.myOrderCart-order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}
.shopping-cart figure {
  margin: 0;
}
.shopping-cart img {
  filter: invert(1);
}
.shopping-cart img:hover{
  cursor: pointer;
}
.shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.shopping-cart p:nth-child(2) {
  color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}
.myOrderCart-btn{
  align-self: center;
}
.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
@keyframes goinOut {
  0%{
    width: 0;
    height: 0;
    top: 60px;
  }
  
  100% {
    width: 360px;
    height: 90%;
    bottom: 0px;
  }
}

@media (max-width: 640px) {
  .myOrderCart {
    width: 100%;
  }
  .myOrderCart-btn{
    align-self: center;
  }
  @keyframes goinOut {
    0%{
      width: 0;
      height: 0;
    }
    
    100% {
      width: 100%;
      height: 90%;
      bottom: 0px;
    }
  }
}