@import 'vars';

.paginationContainer{
   width: 100%;
   height: 30px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
   padding: 0 24px;
   margin: 10px auto;
   &-btn {
     display: flex;
     align-items: center;
     justify-content: center;
     min-width: 24px;
     padding: 5px;
     height: 24px;
     margin: 0 5px;
     border: 1px solid var(--hospital-green);
     border-radius: 4px;
     border-color: transparent;
     font-size: var(--md);
     color: var(--black);
     background-color: transparent;

   }
   &-btn:disabled {
     color: var(--very-light-pink);
   }
   &-btn:hover{
     border-color: var(--hospital-green);
   }
}